<!-- 顧客情報入力フォーム -->
<div class="col-md-10 mx-auto">
  <h3>新規会員登録</h3>
  <%= form_with model: @customer, url: customer_registration_path, lacal: true do |f| %>
    <div class="row form-group">
      <div class="col-md-4"><%= f.label :名前 %></div>
      <div class="col-md-4"><%= f.text_field :last_name, autofocus: true, placeholder:"姓", class:"form-control" %></div>
      <div class="col-md-4"><%= f.text_field :first_name, autofocus: true, placeholder:"名", class:"form-control" %></div>
    </div>
    <div class="row form-group">
      <div class="col-md-4"><%= f.label :フリガナ %></div>
      <div class="col-md-4"><%= f.text_field :last_name_kana, autofocus: true, placeholder:"セイ", class:"form-control" %></div>
      <div class="col-md-4"><%= f.text_field :first_name_kana, autofocus: true, placeholder:"メイ", class:"form-control" %></div>
    </div>
    <div class="row form-group">
      <div class="col-md-4"><%= f.label :email, "メールアドレス" %></div>
      <div class="col-md-8"><%= f.email_field :email, autofocus: true, autocomplete: "sample@example.com", class:"form-control" %></div>
    </div>
    <div class="row form-group">
      <div class="col-md-4"><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></div>
      <div class="col-md-8"><%= f.text_field :postal_code, autofocus: true, placeholder:"0000000", class:"form-control" %></div>
    </div>
    <div class="row form-group">
      <div class="col-md-4"><%= f.label :address, "住所" %></div>
      <div class="col-md-8"><%= f.text_field :address, autofocus: true, placeholder:"東京都渋谷区代々木神園町0-0", class:"form-control" %></div>
    </div>
    <div class="row form-group">
      <div class="col-md-4"><%= f.label :phone_number, "電話番号(ハイフンなし)" %></div>
      <div class="col-md-8"><%= f.text_field :phone_number, autofocus: true, placeholder:"0123456789", class:"form-control" %></div>
    </div>
    <div class="row form-group">
      <div class="col-md-4">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %>
      </div>
      <div class="col-md-8"><%= f.password_field :password, autocomplete: "new-password", class:"form-control" %></div>
    </div>
    <div class="row form-group">
      <div class="col-md-4"><%= f.label :password_confirmation, "パスワード(確認用)" %></div>
      <div class="col-md-8"><%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %></div>
    </div>
    <hr class="my-3"></hr>
    <div class="form-group col-md-3 mx-auto">
      <%= f.submit "新規登録", class:"btn btn-info", style:"width:200px" %>
    </div>
  <% end %>
  <h5 class="">既に登録済みの方</h5>
  <p><u><%= link_to "こちら",new_customer_session_path %></u>からログインしてください。</p>
</div>

