<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg shadow navbar-light bg-white">
        <div class="container-fluid">
          <div class="d-flex align-items-center">
            <%= link_to image_tag("logo.png", size: "180x50"), admin_root_path %>

            <!-- naviボタン-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!--ボタンの中-->
            <div class="collapse navbar-collapse">
             <ul class="navbar-nav me-auto">
              <% if admin_signed_in? %>
                <li>
                  <%= link_to "商品一覧", admin_products_path, class:"nav-link text-dark" %>
                </li>
                <li>
                  <%= link_to "会員一覧", admin_customers_path, class:"nav-link text-dark" %>
                </li>
                <li>
                  <%= link_to "注文履歴一覧", admin_root_path, class:"nav-link text-dark" %>
                </li>
                <li>
                  <%= link_to "ジャンル一覧", admin_genres_path, class:"nav-link text-dark" %>
                </li>
                <li>
                  <%= link_to "ログアウト", destroy_admin_session_path, class:"nav-link text-dark" %>
                </li>
                <% else %>
                <li>
                  <%= link_to "About", about_path, class:"nav-link text-dark" %>
                </li>
                <li>
                  <%= link_to "商品一覧", products_path, class:"nav-link text-dark" %>
                </li>
                <li>
                  <%= link_to "新規登録", new_customer_registration_path, class:"nav-link text-dark" %>
                </li>
                <li>
                  <%= link_to "ログイン", new_customer_session_path, class:"nav-link text-dark" %>
                </li>
              <% end %>
              </ul>
            <%= render "public/searches/form" %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main style="margin-bottom:80px">
      <div class="container p-3">
        <p class="text-success"><%= notice %></p>
        <p class="text-danger"><%= alert %></p>
    <%= yield %>
      </div>
    </main>
    <footer class="text-center", style="height:50px">
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
